.nc-MainNav1 {
  &.notOnTop {
    background-color: rgb(255, 255, 255);
    backdrop-filter: blur(40px);
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  }
}

:is(.dark .nc-MainNav1) {
  &.notOnTop {
    background-color: rgba(17, 24, 39, 0.6);
    border-bottom-width: 1px;
    border-color: rgb(55, 65, 81);
  }
}

.menu-item.menu-megamenu:hover {
  > .sub-menu {
    visibility: visible;
  }
}
